@charset "UTF-8";

@import "import/base";

.sr_only {
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    text-indent: -99999px;
    overflow: hidden;
}



.tbl_01 {
    width: 100%;
    border-top:2px solid #555;
    thead {
        th {
            height: 45px;
            border-bottom:1px solid #555;
            background: #eee;
            color: #444;
            font-weight: 500;
            & + th {
                border-left: 1px solid #ddd;
            }
        }
    }
    tbody {
        td {
            height: 54px;
            padding: 20px 23px;
            border-bottom: 1px solid #ddd;
            color: #333;
            font-weight: 500;
            text-align: center;
            & + td {
                border-left: 1px solid #ddd;
            }
        }
    }
}

.dot_txts {
    li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: left;
        padding-left: 6px;
        &::before {
            content: '·';
            display: block;
            
            @include absoluteLT(0, 0);
            
        }
        strong {
            display: inline-block;
            width: 45px;
            font-weight: 500;
        }
        p {
            flex: 1;
            color: $base-color;
            font-size: $body-fz;
            font-weight: 500;
        }
    }
}

.dot_txts + .blue_str {
    margin-top: 10px;
}

.blue_str {
    position: relative;
    text-align: left;
    color: $blue-color;
    padding-left: 6px;
    font-weight: 400;
    &::before {
        content: '*';
        display: block;
        
        color: $blue-color;
        @include absoluteLT(0, 0);
    }
}

.important_txt {
    margin-top: 15px;
    li {
        
        position: relative;
        text-align: left;
        color: #333;
        font-size: 15px;
        padding-left: 17px;
        &::before {
            content: '※';
            display: block;
            color: #333;
            @include absoluteLT(0, 0);
        }
        
    }
    &.blue {
        li::before  {
            color: $blue-color;
        }
        .sort {
            color: $blue-color;
            font-weight: bold;
            overflow: hidden;
            dt {
                float: left;
            }
            dd {
                float: left;
                margin-left: 5px;
            }
        }
    }
}
.btn_align_center {
    @include flexBox;
    margin-top: 25px;
}
.btn {
    @include flexBox;
    width: 86px;
    height: 40px;
    color: $white-color;
    font-size: 15px;
    border-radius: 5px;
    &.blue {
        background-color: $blue-color;
    }
    &.gray {
        background-color: #606060;
    }
    &.small {
        width: auto;
        height: 30px;
        padding: 0 13px;
        font-size: 14px;
    }
    
}

.btn_outline_blue {
    display: inline-block;
    height: 32px;
    padding: 0 20px;
    border: 2px solid $blue-color;
    border-radius: 3px;
    background: $white-color;
    color: $blue-color;
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
}

// popup
.popup {
    display: none;
    @include fixedLT();
    @include fullSize;
    z-index: 10;
    overflow: auto;
}
.popup_area {
    @include flexBox;
    flex-wrap: wrap;
    padding: 100px 0;
    background: rgba($color: #000000, $alpha: 0.5);
    
    .popup_box {
        position: relative;
        width: 800px;
        background: $white-color;
        .popup_head {
            display: flex;
            align-items: center;
            height: 62px;
            background: $blue-color;
            h1 {
                padding-left: 20px;
                color: $white-color;
                font-size: 24px; 
                font-weight: bold;
            }
        }
        .popup_body {
            padding: 20px 20px 30px;
        }
    }
    .close {
        display: block;
        width: 23px;
        height: 23px;
        @include absoluteRT(20px,20px);
        background: url('../img/btn_close.png') no-repeat center center;
        background-size: cover;
    }
}

.arim {
    display: flex;
    align-items: center;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    &::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 20px;
        margin-right: 10px;
        background: url('../img/ico_bugle.png') no-repeat center center;
    }
    strong {
        color: $blue-color;
    }
}

.tit {
    position: relative;
    padding-bottom: 15px;
    margin-top: 25px;
    color: #444;
    font-size: $body-fz;
    font-weight: 500;
    &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        background-color: $white-color;
        border: 4px solid $blue-color;
        border-radius: 50%;
        box-sizing: border-box;
    }
}
.calendar_area {
    width: 812px;
    margin: 0 auto;
    .calendar_icons {
        @include flexEnd;
        li {
            @include flexBox;
            color: #444;
            font-size: 14px;
            font-weight: 500;
            & + li {
                margin-left: 16px;
            }
            i {
                display: inline-block;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
    }
    .calendar_tit_box {
        @include flexBox;
        height: 38px;
        margin-top: 20px;
        background: #aaa;
        border-radius: 5px;
        color: $white-color;
        font-size: 15px;
        font-weight: 500;
    }
    .calendar {
        padding: 21px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        background: #eee;
        border-radius: 5px;
        li {
            @include flexBox;
            position: relative;
            width: 120px;
            height: 100px;
            background: $blue-color;
            border-radius: 5px;
            color: $white-color;
            font-size: 18px;
            cursor: pointer;
            p {
                @include absoluteLB(0, 15px);
                width: 100%;
                font-size: 14px;
                text-align: center;
            }
            &.disabled {
                background: #ccc;
            }
            &.active {
                background: $dark-blue-color;
            }
            &.confirm {
                background: #ff7a80;
            }
        }
    }
}


.mt0 {
    margin-top: 0 !important;
}
.mt20 {
    margin-top: 20px !important;
}

.gray_txt_box {
    padding: 15px;
    
    background: #eee;
    border-radius: 3px;
    .important_txt {
        margin-top: 0;
        li {
            color: #444;
        }
    }
}


.sub_contents_img {
    margin: 60px 0 85px;
    text-align: center;
}

.tit_btns {
    margin-left: 150px;
    dl {
        & + dl {
            margin-top: 20px;
        }
        @include flexStart;
        dt {
            width:285px;
            .tit {
                padding-bottom: 0;
                margin-top: 0;
            }
        }
        dd {
            flex: 1;
            a + a {
                margin-left: 5px;
            }
        }
    }
}

.tab {
    @extend .clearfix;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    li {
        float: left;
        margin-right: 5px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        a {
            @include flexBox;
            height: 46px;
            padding: 0 27px;
            background: #ccc;
            color: $white-color;
            font-size: 18px;
            &.on {
                background: $blue-color;
            }
        }
    }
}

.search_box {
    @include flexStart;
    height: 60px;
    padding: 0 20px;
    background: #e6f0fd;
    border-radius: 10px;
    margin-bottom: 20px;
    dl {
        display: flex;
        font-size: 15px;
        dt {
            color: #4a5864;
            font-weight: 500;
        }
        dd {
            width: 80px;
            color: $blue-color;
            font-weight: bold;
            text-align: center;
        }
    }
    .select {
        width: 103px;
        height: 30px;
        padding: 0 15px;
        border-radius: 5px;
        color: #989898;
        font-size: 15px;
        appearance: none;
        background: url('../img/icon_arrow_gray_down.png') no-repeat right 12px center;
        background-color: $white-color;
        & + .select {
            margin-left: 10px;
        }
    }
    .input_text {
        border: none;
        margin-left: 10px;
        & + .btn {
            margin-left: 10px;
        }
    }
}

.qna {
    .qna_head {
        @include flexStart;
        height: 45px;
        border-top: 2px solid #555;
        border-bottom: 1px solid #555;
        span {
            display: block;
            padding: 0 5px;
            color: #444;
            font-weight: bold;
            text-align: center;
            &:first-child {
                width: 236px;
            }
            & + span {
                flex: 1;
            }
            &.align_left {
                text-align: left;
            }
        }
    }
    .qna_body {
        dl {
            @include flexStart;
            padding: 25px 0;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            dt {
                width: 236px;
                padding: 0 40px;
                color: $blue-color;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                word-break: keep-all;
            }
            dd {
                @include flexStart;
                flex: 1;
                i {
                    width: 42px;
                    padding-left: 5px;
                    color: $blue-color;
                    font-size: 24px;
                    font-weight: bold;
                    box-sizing: border-box;
                }
                p {
                    flex: 1;
                    color: #333;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .qna_hide {
            display: none;
            padding: 20px 70px 30px 278px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
            color: #333;
            font-size: 15px;
            span {
                display: block;
                margin-bottom: 20px;
            }
            p {
                position: relative;
                font-weight: 500;
                i {
                    @include absoluteLT(-42px,0);
                    display: inline-block;
                    color: $blue-color;
                    font-weight: bold;
                }
            }
        }
    }
}

.pagging {
    @include flexBox;
    margin-top:30px;
    text-align: center;
    a {
        @include flexBox;
        width: 40px;
        height: 40px;
        margin-left: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
        color: #555;
        font-size: 12px;
        background-color: $white-color;
        background-position: center;
        background-repeat: no-repeat;
        &:hover,
        &.on {
            font-weight: bold;
            background-color: #f2f2f2;
        }
        &.first {
            margin-left: 0;
            background-image: url('../img/icon_pagging_first.png');
        }
        &.prev {
            margin-right: 20px;
            background-image: url('../img/icon_pagging_prev.png');
        }
        &.next {
            margin-left: 20px;
            background-image: url('../img/icon_pagging_next.png');
        }
        &.last {
            background-image: url('../img/icon_pagging_last.png');
        }
    }
}
