@charset "UTF-8";

@import "import/base";

.sr_only {
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    text-indent: -99999px;
    overflow: hidden;
}



.tbl_01 {
    width: 100%;
    border-top:2px solid #555;
    thead {
        th {
            height: 45px;
            border-bottom:1px solid #555;
            background: #eee;
            color: #444;
            font-weight: 500;
            & + th {
                border-left: 1px solid #ddd;
            }
        }
    }
    tbody {
        td {
            height: 54px;
            padding: 20px 23px;
            border-bottom: 1px solid #ddd;
            color: #333;
            font-weight: 500;
            text-align: center;
            & + td {
                border-left: 1px solid #ddd;
            }
        }
    }
}

.dot_txts {
    li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: left;
        padding-left: 6px;
        &::before {
            content: '·';
            display: block;
            
            @include absoluteLT(0, 0);
            
        }
        strong {
            display: inline-block;
            width: 45px;
            font-weight: 500;
        }
        p {
            flex: 1;
            color: $base-color;
            font-size: $body-fz;
            font-weight: 500;
        }
    }
}

.dot_txts + .blue_str {
    margin-top: 10px;
}

.blue_str {
    position: relative;
    text-align: left;
    color: $blue-color;
    padding-left: 6px;
    font-weight: 400;
    &::before {
        content: '*';
        display: block;
        
        color: $blue-color;
        @include absoluteLT(0, 0);
    }
}

.important_txt {
    margin-top: 15px;
    li {
        
        position: relative;
        text-align: left;
        color: #333;
        font-size: 15px;
        padding-left: 17px;
        &::before {
            content: '※';
            display: block;
            color: #333;
            @include absoluteLT(0, 0);
        }
        
    }
    &.blue {
        li::before  {
            color: $blue-color;
        }
        .sort {
            color: $blue-color;
            font-weight: bold;
            overflow: hidden;
            dt {
                float: left;
            }
            dd {
                float: left;
                margin-left: 5px;
            }
        }
    }
}
.btn_align_center {
    @include flexBox;
    margin-top: 25px;
}
.btn {
    @include flexBox;
    width: 86px;
    height: 40px;
    color: $white-color;
    font-size: 15px;
    border-radius: 3px;
    &.blue {
        background-color: $blue-color;
    }
    &.gray {
        background-color: #606060;
    }
    &.small {
        width: auto;
        height: 30px;
        padding: 0 13px;
    }
    
}

// popup
.popup {
    display: none;
    @include fixedLT();
    @include fullSize;
    z-index: 10;
    overflow: auto;
}
.popup_area {
    @include flexBox;
    flex-wrap: wrap;
    padding: 100px 0;
    background: rgba($color: #000000, $alpha: 0.5);
    
    .popup_box {
        position: relative;
        width: 800px;
        background: $white-color;
        .popup_head {
            display: flex;
            align-items: center;
            height: 62px;
            background: $blue-color;
            h1 {
                padding-left: 20px;
                color: $white-color;
                font-size: 24px; 
                font-weight: bold;
            }
        }
        .popup_body {
            padding: 20px 20px 30px;
        }
    }
    .close {
        display: block;
        width: 23px;
        height: 23px;
        @include absoluteRT(20px,20px);
        background: url('../img/btn_close.png') no-repeat center center;
        background-size: cover;
    }
}

.arim {
    display: flex;
    align-items: center;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    &::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 20px;
        margin-right: 10px;
        background: url('../img/ico_bugle.png') no-repeat center center;
    }
    strong {
        color: $blue-color;
    }
}

.tit {
    position: relative;
    padding-bottom: 15px;
    margin-top: 25px;
    color: #444;
    font-size: $body-fz;
    font-weight: 500;
    &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        background-color: $white-color;
        border: 4px solid $blue-color;
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.mt0 {
    margin-top: 0 !important;
}

